# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Images and logs
*.png
*.jpg
*.jpeg
*.log

# OS metadata
.DS_Store
Thumbs.db

# Streamlit config (optional)
.streamlit/

# Model files
*.pth
*.pt
